.App {
  /* background-color: red; */
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  
}

.App-header{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span:first-child, span:last-child{
padding: 10px;
outline: none;
border: 2px solid black;
cursor: pointer;
font-size: 1.5rem;
border-radius: 10px;
}

span:nth-of-type(2){
  font-size: 10rem;
}